In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

df_data_1 = pd.read_csv(body)
df_data_1.head()

,product_code,customer_code,market_code,order_date,sales_qty,sales_amount,currency,markets_name,zone,customer_type,product_type
0,Prod001,Cus001,Mark001,10/10/17,100,41241,INR,Chennai,South,Brick & Mortar,Own Brand\r
1,Prod001,Cus002,Mark002,5/8/18,3,-1,INR,Mumbai,Central,Brick & Mortar,Own Brand\r
2,Prod002,Cus003,Mark003,4/6/18,1,875,INR,Ahmedabad,North,Brick & Mortar,Own Brand\r
3,Prod002,Cus003,Mark003,4/11/18,1,583,INR,Ahmedabad,North,Brick & Mortar,Own Brand\r
4,Prod002,Cus004,Mark003,6/18/18,6,7176,INR,Ahmedabad,North,Brick & Mortar,Own Brand\r

In [13]:
x = df_data_1['product_type'].value_counts()
x

Own Brand\r       61237
Distribution\r    33885
Name: product_type, dtype: int64